
/*  Page Gurren Lagann  */

.banner-gl {

    background-image: url(../imgs/gl.jpg);
    background-size: cover;
    height: 800px;
    background-attachment: fixed;
    background-repeat: no-repeat;
   
   
   }
   
   
   .conteudo-banner-gl{
   
   color: white;
   font-size: 70px;
   font-weight: 700;
   display: flex;
   justify-content: center;
   padding-top: 300px;
   
   
   }
   
   .styleDiv{
   
      height: 100%;
      background-color: #00000070;
   
   
   }
   
   .conteudo-gl{
   
   height: 770px;
   
   
   }
   
   .conteudo-gl h1{
   
       display: flex;
       color: white;
       justify-content: center;
       padding-top: 50px;
       
   
   }
   
   .conteudo-gl p{
   
   padding-left: 50px;
   width: 600px;
   color: white;
   text-align: justify;
   
   
   
   }
   
   .banner-gl2 {
   
       background-image: url(../imgs/gl5.jpg);
       background-size: cover;
       background-attachment: fixed;
       background-position: center;
      
      
      
      }
      
      .styleDiv2{
   
       background-color: #000000b0;
   
   
   
   
      }
   
      .conteudo-sobre-gl{
   
       display: flex;
       justify-content: space-around;
       padding-top: 100px;
   
   
      }
   
      .gif img{
   
   
       border-radius: 30px ;
   
      }

      .img-home-d img{

        border-radius: 20px;
        width: 500px;
        height: 300px;
      }
   
       .part1GL{
        background-image: url(../imgs/sagas/gl1.jpg);
        background-size: cover;
        }
        
        .part2GL{
        background-image: url(../Imgs/gl5.jpg);
        background-size: cover;
        }
        
        .part3GL{
        background-image: url(../Imgs/gl6.jpg);
        background-size: cover;
        }